.profile-sidebar{
    text-align: left;
    padding: 50px !important;
    background-color: #F7F9FA;
}

.profile-sidebar ul li{
    padding-bottom: 15px;
}

.tabpanel {
    margin-left: 40px;
}

.profile-sidebar ul li h6{    
    font-size: 20px;
}

.profile-content{
    text-align: left;
    padding: 50px !important;
}

.profile{
    display: flex;
    align-items: center;
}


.btn-save {
    margin-top: 20px !important;
    background-color: #23B0BE !important;
}